.catalog{
    background-color: $white;
    padding: 0 0 50px;

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0;
    }

    &__item{
        width: 240px;
        display: flex;
        flex-direction: column;
        border: 2px solid $lightgray;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 20px;
        height: 363px;
        overflow: hidden;
        transition: .5s all;

        @include tablets{
            width: 220px;
            height: 390px;
        }
    }

    &__title{
        font-size: 25px;
        color: $darkgray;
        text-align: center;
        margin-top: 20px;
    }

    &__descr{
        background-color: $lightgray;
        font-size: 12px;
        font-weight: 300;
        color: $darkgray;
        padding: 10px;
        height: 100%;
    }
}