.header{
  background: linear-gradient(to bottom, $orange, $darkorange);
  padding: 25px 0;
}

.contacts-item{
  display: flex;
  color: $white;
  font-size: 26px;
  font-weight: 300;
  align-items: center;
  letter-spacing: 2px;
  text-decoration: none;

  @include tablets{
    margin-top: 15px;
  }
}

.contacts-img{
  margin-right: 15px;
}