$notebook: 970px;
$tablets: 768px;
$phones: 500px;

@import "media.scss";
@import "var.scss";
@import "adjust.scss";
//@import "fonts.scss";
//@import "form.scss";

@import "header.scss";
@import "hero.scss";
@import "about.scss";
@import "catalog.scss";
@import "delivery.scss";
@import "modal.scss";
//@import "after.scss";
//@import "comfort.scss";
//@import "video-block.scss";
//@import "options.scss";
//@import "feedback.scss";
//@import "faq.scss";
//@import "acco.scss";
//@import "tabs.scss";
@import "footer.scss";